# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Idea Projects\springmvc_day02_04_interceptor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
